<div class="container sidebar painel">
    <div>
        <img class="image-profile" src="/img_avatar.png" alt="logo">
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <h4><i class="fas fa-home"></i>

                        </i> Dashboard</h4>
                </a>
                <hr>
            </li>

            <li class="">
                <a href="#">
                    <h4><i class="fas fa-cart-arrow-down"></i>

                        Vendas</h4>
                </a>
                <hr>
            </li>

            <li class="">
                <a href="/admin/estoque">
                    <h4><i class="fas fa-warehouse"></i>

                        Estoque</h4>
                </a>
                <hr>
            </li>

            <li class="">
                <a href="#">
                    <h4><i class="fas fa-coins"></i> Despesas</h4>
                </a>
                <hr>
            </li>

            <li class="">
                <a href="#">
                    <h4><i class="fas fa-chart-pie"></i> Resumo</h4>
                </a>
                <hr>
            </li>
        </ul>
    </nav>
</div>