<div class="espaco">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta non laborum et saepe numquam aliquam quo totam vero
    repellat quis nobis odit facilis delectus adipisci perspiciatis, unde dignissimos illo beatae!
</div>